/* *******************
    GENERAL
******************** */
:root{
  /*https://color.adobe.com/es/trends/Interaction*/
  --color-nav:#9BC5DE;
  --color-welcome:#90B3C9;
  --color-project:#809BB0;
  --color-contact:#6B7B8A;
  --color-contact2:#cc8cab;
  --color-footer:#8B8091;
  --color-footer2:#B68FA2;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Frank Ruhl Libre', serif;
  background-color: fff;
  font-size: 1.6rem;
  line-height: 2rem;
  scroll-behavior: smooth;
}
#welcome-section h1,
#welcome-section p,
#projects h1{
  text-align: center;
}
#welcome-section h1, #projects h1, #contact h1{
  font-size: 5rem;
}
/* *********
    NAVBAR
********** */
#navbar{
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
  background:linear-gradient(to bottom,var(--color-nav),
  var(--color-welcome));
  border-bottom: 5px solid #4400ff;
  box-shadow: 0 3px 2px 1px #5150525e;
}
#navbar ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}
#navbar ul li{
  padding: 10px;
  margin: 10px;
  display: inline;
  transition-property: all;
  transition-duration: 1s;  
}
#navbar ul li:hover{
  transform: scale(1.1);
  background-color: #66b0db;
  box-shadow: 0 3px 2px 1px #836875;
}
#navbar ul li #nav-link{
  font-size: 2rem;
  padding: 3px;
  color: #4400ff;
  padding: 5px;
  text-decoration: none;
}

/* *******************
    WELCOME SECTION
******************** */
#welcome-section{
  width: 100vw;
  height: 100vh;
  background:linear-gradient(to bottom,
  var(--color-welcome),var(--color-project));
}
#welcome-section h1{
  padding-top: 25vh;
  padding-bottom: 2.5rem;
  color: #000;
}
#welcome-section p{
  font-size: 3rem;
  color: #520303;
  margin-top: 2.5rem;
}
#welcome-section .div-welcome{
  max-width: 43vw;
  margin: auto;
}
#welcome-section .about-me{
  font-size: inherit;
  margin-top: 5rem;
  margin-bottom: 8rem;
  text-align: justify;
  color: #000000;
}
#welcome-section .about-me span{
  text-decoration: underline;
}
#welcome-section div em{
  text-align: center;
  font-size: 1.6rem;
  color: #030e5a;
}
/* ********************
    PROJECTS SECTION
********************* */
#projects{
  width: 100vw;
  height: auto;
  background:linear-gradient(to bottom,
  var(--color-project),var(--color-contact));
}
#projects h1{
  padding-top: 24.5vh;
  padding-bottom: 8vh;
  color: #fff;
}
#projects .project-grid{
  width: 70vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:var(--color-welcome);
  border-radius: 5px;
}
#projects .project-grid div{
  width: 30vw;
  height: auto;
  margin: 1rem 1rem .5rem 1rem;
}
#projects .project-grid div .project-tile{
  width:30vw;
  height:auto;
  margin: auto;
}
#projects .project-grid div .project-tile img{
  width:30vw;
  height:auto;
  display: block;
  margin: auto;
}
#projects .project-grid div a{
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #04223a;
  width: 30vw;
  padding: .5rem;
}
/* ********************
    CONTACT SECTION
********************* */
#contact{
  width: 100vw;
  height: 80vh;
  background:linear-gradient(to bottom,
  var(--color-contact),var(--color-footer)); 
}
#contact h1{
  color: #fff;
  text-align: center;
  padding-top: 13.5rem;
}
#contact div{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
#contact div ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#contact div ul li{
  display: block;
  margin: 5rem 2rem;
}
#contact div ul li .Contact-link{
  display: block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  background-color: var(--color-contact2);
  color: #fff;
  border-radius: 5px;
  width: 16rem;
  height: 5rem;
  transition-property: box-shadow, transform;
  transition-duration: 1s;
}

#contact div ul li .Contact-link:hover,
footer .resume:hover{
  box-shadow: 0 3px 2px 1px #836875;
  transform: scale(1.3);
  
}
/* ********************
    FOOTER
********************* */
footer{
  width: 100vw;
  height: auto;
  margin-top: 0;
  background:linear-gradient(to bottom,
  var(--color-footer),var(--color-footer2));
  font-size: 1.5rem;
}
footer .resume{
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 3rem;
  text-align: center;
  padding: 1rem;
  margin: auto;
  background-color: var(--color-contact2);
  border-radius: 5px;
  width: 19rem;
  height: 5rem;
  transition-property: box-shadow, transform;
  transition-duration: 1s;
}
footer p{
  color: #000;
  text-align: right;
  margin-right: 2rem;
  padding: 2rem;
}


/* ********************
***********************
    MEDIA QUERIES
***********************
******************** */


@media (max-width: 1200px) {
  /* *******************
      WELCOME SECTION
  ******************** */
  #projects h1, #contact h1{
    font-size: 4rem;
  }
  #welcome-section p{
    font-size: 3rem;
  }
  #welcome-section .div-welcome{
    max-width: 60vw;
  }
  #welcome-section .about-me{
    font-size: inherit;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  #welcome-section div em{
    text-align: center;
    font-size: 1.6rem;
    color: #030e5a;
  }
  /* ********************
      PROJECTS SECTION
  ********************* */
  #projects h1{
    padding-top: 25vh;
    padding-bottom: 5rem;
  }
  #projects .project-grid{
    width: 70vw;
    height: auto;
  }
  #projects .project-grid div{
    width: 60vw;
    height: auto;
  }
  #projects .project-grid div .project-tile{
    width:60vw;
    height:auto;
    margin: auto;
  }
  #projects .project-grid div .project-tile img{
    width:60vw;
    height:auto;
    margin: auto;
  }
  #projects .project-grid div a{
    margin: auto;
    width: 60vw;
  }
  /* ********************
      CONTACT SECTION
  ********************* */
  #contact h1{
    padding-top: 11.5rem;
  }
  #contact div{
    width: 90%;
    margin: 1.5rem auto;
    padding: 1rem;
  }
  #contact div ul li{
    margin: 2rem 2rem 1rem 2rem;
  }
  #contact div ul li .Contact-link{
    font-size: 1.8rem;
  }
  
  /* ********************
      FOOTER
  ********************* */
  footer p{
    text-align: right;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.3rem;
  }
}   

@media (max-width: 780px) {
  /* *******************
    GENERAL
  ******************** */
  body{
    font-size: 1.3rem;
    line-height: 2rem;
  }
  #welcome-section h1, #projects h1, #contact h1{
    font-size: 3rem;
  }
  #projects h1, #contact h1{
    font-size: 2.5rem;
  }
  /* *********
      NAVBAR
  ********** */
  #navbar ul li #nav-link{
    font-size: 1.2rem;
  }
  /* *******************
      WELCOME SECTION
  ******************** */
  #welcome-section h1{
    padding-top: 19.5vh;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
  #welcome-section p{
    margin-top: 2.5rem;
    font-size: 1.8rem;
  }
  #welcome-section .div-welcome{
    max-width: 80vw;
    margin: auto;
  }
  #welcome-section .about-me{
    font-size: inherit;
    line-height: 2rem;
    margin-top: 3.5rem;
    margin-bottom: 6rem;
  }
  #welcome-section div em{
    line-height: .8rem;
    font-size: 1.2rem;
  }
  /* ********************
      PROJECTS SECTION
  ********************* */
  #projects{
  margin-top: 0;
  padding-top: 0;
  }
  #projects .project-grid{
    width: 85vw;
  }
  #projects h1{
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  #projects .project-grid div{
    width: 70vw;
    height: auto;
  }
  #projects .project-grid div .project-tile{
    width:70vw;
    height:auto;
    margin: auto;
  }
  #projects .project-grid div .project-tile img{
    width:70vw;
    height:auto;
  }
  #projects .project-grid div a{
    width: 70vw;
    line-height: 1rem;
  }
  /* ********************
      CONTACT SECTION
  ********************* */
  #contact h1{
    padding-top: 10rem;
  }
  #contact div{
    width: 85%;
    margin: auto;
    margin-top: 3.5rem;
  }
  #contact div ul li{
    display: block;
    margin: 2.5rem 2rem;
  }
  #contact div ul li .Contact-link{
    font-size: 1.5rem;
    line-height: 3.5rem;
    width: 13rem;
    height: 3.5rem;
  }

  /* ********************
      FOOTER
  ********************* */
  footer{
    padding: 2rem;
    font-size: 1rem;
  }
  footer .resume{
    margin: auto;
    padding: 0;
    width: 18rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  footer p{
    text-align: center;
    margin: auto;
    padding: 2rem;
    font-size: 1.2rem;
  }
}   


@media (max-width: 450px) {
  /* *******************
    GENERAL
  ******************** */
  body{
    font-size: 1rem;
    line-height: 2rem;
  }
  #welcome-section h1, #projects h1, #contact h1{
    font-size: 2.5rem;
  }
  #projects h1, #contact h1{
    font-size: 1.9rem;
  }
  /* *********
      NAVBAR
  ********** */
  #navbar ul{
  margin: 0;
  justify-content: center;
}
  #navbar ul li{
    padding: 5px;
    margin: 5px;
    display: inline;
  }  
  #navbar ul li #nav-link{
    font-size: 1.2rem;
  }
  /* *******************
      WELCOME SECTION
  ******************** */
  #welcome-section h1{
    padding-top: 19.5vh;
    padding-bottom: 0;
    margin-bottom: 1rem;
  }
  #welcome-section p{
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
  #welcome-section .div-welcome{
    max-width: 85vw;
    margin: auto;
  }
  #welcome-section .about-me{
    font-size: inherit;
    line-height: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  #welcome-section div em{
    line-height: .8rem;
    font-size: 1rem;
  }
  /* ********************
      PROJECTS SECTION
  ********************* */
  #projects{
  margin-top: 0;
  padding-top: 0;
  }
  #projects .project-grid{
    width: 85vw;
  }
  #projects h1{
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  #projects .project-grid div{
    width: 70vw;
    height: auto;
  }
  #projects .project-grid div .project-tile{
    width:70vw;
    height:auto;
    margin: auto;
  }
  #projects .project-grid div .project-tile img{
    width:70vw;
    height:auto;
  }
  #projects .project-grid div a{
    width: 70vw;
    line-height: 1rem;
  }
  /* ********************
      CONTACT SECTION
  ********************* */
  #contact h1{
    padding-top: 10rem;
  }
  #contact div{
    width: 95%;
    margin: auto;
    margin-top: 1.5rem;
  }
  #contact div ul li{
    display: block;
    margin: 0.5rem 2rem;
  }
  #contact div ul li .Contact-link{
    font-size: 1rem;
    line-height: 3rem;
    width: 9rem;
    height: 3rem;
  }

  /* ********************
      FOOTER
  ********************* */
  footer{
    padding: 2rem;
    font-size: 1rem;
  }
  footer .resume{
    line-height: 1.5rem;
    text-align: center;
    margin: auto;
    width: 12rem;
    height: 3rem;
  }
  footer p{
    text-align: center;
    margin: auto;
    padding: 1rem;
    font-size: 1rem;
  }
}